<%- include('partials/top'); %>

<div class="CatalogContainer">
  <section class="Sidebar">
    <h2 class="Header">Categories</h2>
    <div class="CategoryContainer">
      <% categories.forEach((category) => { %>
      <div class="Category">
        <a class="Category__Link" href="<%= category.url %>"
          ><%= category.name %></a
        >
      </div>
      <% }); %>
    </div>

    <div class="ActionContainer">
      <a class="Action" href="/catalog/category/new">Add Category</a>
      <a class="Action" href="/catalog/item/new">Add Item</a>
      <a class="Action" href="/">Go back</a>
    </div>
  </section>

  <section class="Items">
    <h2 class="Header">All items</h2>
    <div class="ItemContainer">
      <% items.forEach((item) => { %>
      <div class="Item">
        <a class="Item__Link" href="<%= item.url %>"><%= item.name %></a>
      </div>
      <% }); %>
    </div>
  </section>
</div>

<%- include('partials/bottom'); %>
