<%- include('partials/top'); %>

<h1 class="Main__Header Header">OnIce Inventory</h1>

<p>
  <a href="/">&lt;Go back</a>
</p>

<div class="Catalog__Categories">
  <% categories.forEach((category) => { %>
  <div class="Category">
    <a href="<%= category.url %>"><%= category.name %></a>
  </div>
  <% }); %>
</div>

<br />
<br />
<p>
  <a href="/catalog/category/new">Add New Category +</a>
</p>

<hr />

<div class="Catalog__Items">
  <% items.forEach((item) => { %>
  <div class="Item">
    <p>
      <a href="<%= item.url %>"><%= item.name %></a>
    </p>
  </div>
  <% }); %>
</div>

<%- include('partials/bottom'); %>
