<%- include('partials/top'); %>

<div class="Wrapper">
  <h2 class="Header"><%= category.name %></h2>
  <p class="Category__description"><%= category.description %></p>

  <div class="Catalog__Items m2">
    <% items.forEach((item) => { %>
    <div class="Item">
      <p>
        <a href="<%= item.url %>"><%= item.name %></a>
      </p>
    </div>
    <% }); %> <%- items.length !== 0 ? '' : 'No items here yet!' %>
  </div>

  <p>
    <a class="Action" href="/catalog/item/new">Add item</a>
    <a class="Action" href="<%= category.url %>/edit">Edit this category</a>
    <a class="Action" href="<%= category.url %>/delete">Delete</a>
  </p>

  <p class="m2">
    <a class="Action" href="/catalog">Go back</a>
  </p>
</div>

<%- include('partials/bottom'); %>
