<%- include('partials/top'); %>

<section class="Wrapper">
  <h2 class="Header">Delete category</h2>

  <div class="Category">
    <p class="Category__name"><%= category.name %></p>
    <p class="Category__description m2">
      Description: <%= category.desc || '' %>
    </p>
  </div>

  <form class="m2" method="POST" action="<%= category.url %>/delete">
    <p>
      Are you sure you want to delete this category? This will delete all its
      items too.
    </p>
    <button class="Button--danger">Delete</button>
  </form>

  <p>
    <a class="Action" href="<%= category.url %>">Go back</a>
  </p>
</section>

<%- include('partials/bottom'); %>
