<%- include('partials/top'); %>

<h2><%= category.name %></h2>
<p><%= category.description %></p>

<hr />

<div class="Catalog__Items">
  <% items.forEach((item) => { %>
  <div class="Item">
    <p>
      <a href="<%= item.url %>"><%= item.name %></a>
    </p>
  </div>
  <% }); %> <%- items.length !== 0 ? '' : 'No items here yet!' %>
</div>

<p>
  <a href="/catalog/item/new">Add item</a><br />
  <a href="<%= category.url %>/edit">Edit this category</a><br />
  <a href="<%= category.url %>/delete">Delete</a>
</p>

<p>
  <a href="/catalog">&lt;Go back</a>
</p>

<%- include('partials/bottom'); %>
