<%- include('partials/top'); %>

<h1 class="Main__Header Header">OnIce Inventory</h1>

<h2><%= category.name %></h2>

<div class="Catalog__Items">
  <% items.forEach((item) => { %>
  <div class="Item">
    <p>
      <a href="<%= item.url %>"><%= item.name %></a>
    </p>
  </div>
  <% }); %> <%- items.length !== 0 ? '' : 'No items here yet!' %>
</div>

<p>
  <a href="/catalog">&lt;Go back</a>
</p>

<%- include('partials/bottom'); %>
