<%- include('partials/top'); %>

<h1 class="Main__Header Header">OnIce Inventory</h1>

<h2>Add new item</h2>

<form method="POST">
  <label for="name"> Name </label><br />
  <input
    required
    minlength="1"
    maxlength="150"
    type="text"
    name="name"
    id="name"
    autocomplete="off"
  /><br />
  <label for="desc"> Description </label><br />
  <textarea maxlength="2000" name="desc" id="desc"></textarea><br />
  <label for="stock"> Stock </label><br />
  <input
    autocomplete="off"
    min="0"
    id="stock"
    type="number"
    name="stock"
  /><br />
  <label for="price"> Price(<%= currency %>): </label><br />
  <input
    autocomplete="off"
    min="0"
    type="number"
    name="price"
    step="0.01"
  /><br />
  <select name="category" required>
    <% categories.forEach((category) => { %>
    <option value="<%- category._id %>"><%= category.name %></option>
    <% }) %>
  </select>
  <br />

  <button>Add</button>
</form>

<p>
  <a href="/catalog">&lt;Go back to catalog</a>
</p>

<%- include('partials/bottom'); %>
