<%- include('partials/top'); %>

<section class="Wrapper">
  <h2 class="Header">Add new item</h2>

  <form method="POST">
    <label for="name"> Name </label>
    <input
      required
      minlength="1"
      maxlength="150"
      type="text"
      name="name"
      id="name"
      autocomplete="off"
    />
    <label for="desc"> Description </label>
    <textarea maxlength="2000" name="desc" id="desc"></textarea>
    <label for="stock"> Stock </label>
    <input autocomplete="off" min="0" id="stock" type="number" name="stock" />
    <label for="price"> Price(<%= currency %>): </label>
    <input autocomplete="off" min="0" type="number" name="price" step="0.01" />
    <label for="category">Category</label>
    <select id="category" name="category" required>
      <% categories.forEach((category) => { %>
      <option value="<%- category._id %>"><%= category.name %></option>
      <% }) %>
    </select>

    <button class="Button--main">Add</button>
  </form>

  <p class="m2">
    <a class="Action" href="/catalog">Go to catalog</a>
  </p>
</section>

<%- include('partials/bottom'); %>
