<%- include('partials/top'); %>

<h1 class="Main__Header Header">OnIce Inventory</h1>

<div class="Item">
  <h2><%= item.name %></h2>
  <p>Description: <%= item.desc || '' %></p>
  <p>Qty. <%= item.stock %></p>
  <p><%= currency %><%= item.price %></p>
</div>

<p>
  <a href="<%= item.url %>/edit">Edit this item</a>
  <br />
  <a href="<%= item.url %>/delete">Delete</a>
</p>

<p>
  <a href="/catalog/category/<%- item.category %>">&lt;Go back to category</a>
  <br />
  <a href="/catalog">&lt;Go back to catalog</a>
</p>

<%- include('partials/bottom'); %>
